# Operating system files
.DS_Store
Thumbs.db

# Visual Studio Code settings
.vscode/

# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Firebase service account files
serviceAccountKey.json
*firebase-adminsdk*.json